@font-face {
  font-family: Fornite Font;
  src: url('../components/fonts/fortnite.otf');
}

.nav {
  font-family: Fornite Font;
  letter-spacing: .1rem;
  background-color: #111827;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.text-link {
  text-decoration: none;
  color: #f9fafb;
  font-size: 2rem;
  transition: background-color 0.25s;
}

.text-link:hover:not(:last-child) {
  background-color: #ff0000;
}

.cart-icon {
  border-radius: 100%;
  padding: 10px;
  background-color: #29323f;
}

.item-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 36px;
  font-size: 1.2rem;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  background-color: #be123c;
}